body {
  font-family: 'Poppins', sans-serif;
  background: #D3D3D3;
}
#area-cabecalho {
 background-color: #87CEEB; 
 padding: 5px;
 text-align: center; 
}

#area-logo, #area-menu {
  padding: 6px;
}

#principal{
  width: 300px;
  margin: 0px;
  float: left;
}

#lateral{
  width: 200px;
  margin: 0px;
  float: right;
}

h1{
  color: #4e4e4e;
}

table{
  width: 100%;
  text-align: center;
  padding: 5px;
}
