.padding: 0;
body {
  font-family: 'Poppins', sans-serif;
  background: #e6e6e6;
}
#area-cabecalho {
 background-color: #f7b600; 
 padding: 8px;
 text-align: center; 
}

#area-logo, #area-menu {
  padding: 8px;
}

h1{
  color: #4e4e4e;
}
