body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5DEB3;
 background-image: url("/img/1.jpg");
 }

 
#area-cabecalho {
background-color: #D2B48C;
 padding: 1px;
 text-align: center; 
}

/*links da pagina*/
a:{
  text-decoration: none;
}

a:link, a:visited{
  color: #FFF;
  padding: 8px 12px;
  font-size: 16px;
} 
a:hover{
  color: black;
}

#area-logo, #area-menu {
  padding: 1px;
}

/*texto no meio da pagina*/
#principal{
  width: 200px;
  margin: 0px;
  float: left;
}

#lateral{
  width: 200px;
  margin: 0px;
  float: right;
  font-size: 15px;
}

h1{
  color: #4e4e4e;
  font-size: 21px;
}

table{
  width: 600px;
  text-align: right;
  padding: 5px;
 
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 50px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #D2B48C};

